.button {
    background-color: lightgreen;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    text-decoration: none;

    color: blue
}

.button:hover {
    background-color: #0bacd0c4;
}

:root {
    --base-font-size: 16px;
    --bg-color: white;
    --text-color: black;
    --nav-color: lightgray;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --nav-color: #1e1e1e;
}

body {
    font-size: var(--base-font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}