.button {
    background-color: lightgray;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    text-decoration: none;
}