<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css">
    <title>{% block title %}Team 16{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <div style="margin-bottom: 10px;">
      <button class="button" onclick="ChangeFontSize(12)">Shrink Text Size</button>
      <button class="button" onclick="ChangeFontSize(16)">Default Text Size</button>
      <button class="button" onclick="ChangeFontSize(20)">Enlarge Text Size</button>
      <button class="button" onclick="ToggleDarkMode()">Toggle Dark Mode</button>
    </div>
    
    {% block nav %}
    {% include "partials/navbar.html" %}
    {% endblock %}

    <main>
      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

    <script>
      function ChangeFontSize(size) {
        document.documentElement.style.setProperty('--base-font-size', size + 'px');
        localStorage.setItem('fontSize', size);
      }

      function ToggleDarkMode() {
        document.body.classList.toggle('dark-mode');

        const isDark = document.body.classList.contains('dark-mode');
        localStorage.setItem('darkMode', isDark);
      }

      window.onload = function() {
        const savedSize = localStorage.getItem('fontSize');
        const darkMode = localStorage.getItem('darkMode')

        if(savedSize) {
          document.documentElement.style.setProperty('--base-font-size', savedSize + 'px');
        }

        if(darkMode === "true") {
          document.body.classList.add("dark-mode")
        }
      }
    </script>
  </body>
</html>
