<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css">
    <title>{% block title %}Team 16{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <div style="margin-bottom: 10px;">
      <button onclick="ChangeFontSize(12)">Shrink Text Size</button>
      <button onclick="ChangeFontSize(16)">Default Text Size</button>
      <button onclick="ChangeFontSize(20)">Enlarge Text Size</button>
    </div>
    
    {% block nav %}
    {% include "partials/navbar.html" %}
    {% endblock %}

    <main>
      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

    <script>
      function ChangeFontSize(size) {
        document.documentElement.style.setProperty('--base-font-size', size + 'px')
        localStorage.setItem('fontSize', size)
      }

      window.onload = function() {
        const savedSize = localStorage.getItem('fontSize');
        if(savedSize) {
          document.documentElement.style.setProperty('--base-font-size', savedSize + 'px')
        }
      }
    </script>
  </body>
</html>
