{% extends "base.html" %}

{% block title %}Email Password Reset{% endblock %}

{% block content %}

<h2>Reset Password</h2>
<form method = "POST" id="reset-password-form">
  <label>New Password:</label><br>
  <input type="password" id="new_password" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      title="Password must contain at least 8 characters (including a lowercase letter, uppercase letter, and number)"
  placeholder="e.g. Password1234" required><br>

  <label>Confirm New Password:</label><br>
  <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="e.g. Password1234" required><br><br>

  <button type = "submit">Reset Password</button><br>

  <h3>Password must contain the following:</h3>
  <ul>
    <li id="letter" class="invalid">A <b>lowercase</b> letter</li>
    <li id="capital" class="invalid">An <b>uppercase</b> letter</li>
    <li id="number" class="invalid">A <b>number</b></li>
    <li id="length" class="invalid">Minimum <b>8 characters</b></li>
  </ul>

  <a class="button" href="{{ url_for('auth.home') }}">Cancel</a>
</form>

{% endblock %}