{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1>Forgot Password</h1>

{% if not form_sent %}

<form action="/forgot_password", method="POST">
    Username or Email:<br>
    <input type="text" name="user_email" value="{{ user_email|default('') }}" required placeholder="e.g. jsmith123"><br>
    
    <input style="margin-top: 10px;" id="submit" type="submit" value="Submit" >
</form>

<br>
<p><a class="button" href="{{ url_for('auth.login') }}">Return to Log in</a></p>
{% else %}

<h3>An email has been sent to {{ user_email }}.</h3>

<p><a class="button" href="{{ url_for('auth.login') }}">Return to Log In Page</a></p>

{% endif %}

{% endblock %}