<h1>Sign Up</h1>
<form action="/register", method="POST">
    Role:<br>
    <input type="radio" name="role" value="Sponsor">Sponsor<br>
    <input type="radio" name="role" value="Driver">Driver<br>
    <input type="radio" name="role" value="Admin">Admin<br><br>

    Email:<br>
    <input type="text" name="email"><br>
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    Confirm Password:<br>
    <input type="password" name="confpass"><br><br>

    <input type="submit" value="Sign Up">
</form>