{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<p><a href="{{ url_for('auth.login') }}">Already have an account? Log in</a></p>

<form id="form" action="/register", method="POST">
    First Name:<br>
    <input type="text" name="first_name" value="{{ first_name|default('') }}" required><br>

    Last Name:<br>
    <input type="text" name="last_name" value="{{ last_name|default('') }}" required><br>

    Email:<br>
    <input type="text" name="email" value="{{ email|default('') }}"><br>

    Username:<br>
    <input type="text" name="username" value="{{ username|default('') }}" required><br>

    Password:<br>
    <input type="password" name="password"
        title="Password must contain at least 8 characters (including a lowercase letter, uppercase letter, and number)"
    required><br>

    Confirm Password:<br>
    <input type="password" name="confpass" required><br><br>

    <input id="submit" type="submit" value="Sign Up">
</form>

<h3>Password must contain the following:</h3>
<ul>
    <li id="letter" class="invalid">A <b>lowercase</b> letter</li>
    <li id="capital" class="invalid">An <b>uppercase</b> letter</li>
    <li id="number" class="invalid">A <b>number</b></li>
    <li id="length" class="invalid">Minimum <b>8 characters</b></li>
</ul>

{% endblock %}
